
.NAVVV
{
    width:20%;
    height:900px;
    background-color: white;     
    float: left;    
    display: flex;
    justify-content: center;   
    position: fixed;    
   
    
    
}
.NAVVV ul
{    
    display: flex;  
    flex-wrap: wrap;  
    
    width: 100%;
    list-style: none;    
    flex-direction: column;
      
}
.NAVVV ul li 
{   float: left;
    display: flex;  
    padding: 10px;
    flex-wrap: wrap; 
    border-bottom:1px solid rgb(97, 96, 96);
    color :grey;
    flex-direction: column;
    list-style: none;
    width: 100%;
    text-decoration: none;
      
}

.NAVVV ul li:hover
{    
    background-color: rgb(95, 91, 91);
    width: 100%;
    text-decoration: none;
    color: white;
    
      
}
.NAVVV ul li a
{    
   text-decoration: none;
    
      
}

.header_bdy
{
    position: relative;
    float: right;
    margin-right:10%
    

}

#logo
{
    font-size: 20px; 
    padding-bottom: 100px;
    
}
#logo:hover
{
    font-size: 20px; 
    padding-bottom: 100px;
    background-color: white;
    color:grey;
    
}

#product_container
{
    height:auto;
    max-height: 500px;
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color :grey;
    overflow-y: scroll;
    

}

#pos_container
{
    height:auto;
    max-height: 500px;
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background-color:greenyellow ;
    overflow: hidden;
    

}

.item
{
    height:20px;
    width:90%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10px;
}
.details
{
    padding-left: 20px;
}
.mmodal,.mmmodal
{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;    
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.39);
    
}
.innermodal
{
    width: 400px;
    height: 400px;
    background-color: #5bc0de;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column ;
    
}
.innermodal input,.innermodal button

{
    margin-bottom: 2%;
    padding-left: 3px;
}


al input
{
    margin:10px;
    
}
.deleter,.edit
{
    width:100px;
    color:black;
   
   
    
}


#items div
{
    margin:2%;
}
.form-control
{
    width:50%;
    background-color:blue;
}

